/code/frontend/CNet.UniAPP/CNet.UniAPP/node_modules
/code/frontend/CNet.UniAPP/CNet.Web.Admin/node_modules
/code/backend/CNet.Web.Api/bin
/code/backend/CNet.Web.Api/obj
/code/backend/CNet.Model/obj
/code/backend/CNet.Model/bin
/code/backend/CNet.DBUtility/obj
/code/backend/CNet.DBUtility/bin
/code/backend/CNet.DAL/obj
/code/backend/CNet.DAL/bin
/code/backend/CNet.Common/bin
/code/backend/CNet.Common/obj
/code/backend/CNet.BLL/bin
/code/backend/CNet.BLL/obj
/code/backend/.vs
/code/backend/packages
/code/backend/CNet.Web.Api/lib
/code/backend/CNet.CodeGen/CNet.CodeGen.Api/CNet.CodeGen.Api/bin
/code/backend/CNet.CodeGen/CNet.CodeGen.Api/CNet.CodeGen.Api/obj
