USE [master]
GO
/****** Object:  Database [CNet_EL]    Script Date: 2023/8/2 22:13:33 ******/
CREATE DATABASE [CNet_EL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CNet_EL', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CNet_EL.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CNet_EL_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CNet_EL_log.ldf' , SIZE = 6912KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CNet_EL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CNet_EL]
GO
/****** Object:  UserDefinedFunction [dbo].[f_SearchChildDept]    Script Date: 2023/8/2 22:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---查询所有子部门
Create FUNCTION [dbo].[f_SearchChildDept]
(	
	@DeptCode VARCHAR(20)
)
returns @temp table(DeptCode VARCHAR(20),DeptName NVARCHAR(100),ParentCode VARCHAR(20) )
AS
BEGIN
	;with f as 
	(
	select * FROM Pub_Department AS pd where DeptCode=@DeptCode
	union all
	select a.* from Pub_Department as a inner join f as b on a.ParentCode=b.DeptCode
	)
	INSERT INTO @temp(DeptCode,DeptName,ParentCode)
	SELECT DeptCode,DeptName,ParentCode FROM  f
RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[f_SearchChildFunction]    Script Date: 2023/8/2 22:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---查询所有子权限
CREATE FUNCTION [dbo].[f_SearchChildFunction]
(	
	@FunctionCode VARCHAR(20)
)
returns @temp table(FunctionCode VARCHAR(20),FunctionChina NVARCHAR(100),FunctionEnglish NVARCHAR(100),ParentCode VARCHAR(20) )
AS
BEGIN
	;with f as 
	(
	select * FROM Pub_Function AS pd where FunctionCode=@FunctionCode
	union all
	select a.* from Pub_Function as a inner join f as b on a.ParentCode=b.FunctionCode
	)
	INSERT INTO @temp(FunctionCode,FunctionChina,FunctionEnglish,ParentCode)
	SELECT FunctionCode,FunctionChina,FunctionEnglish,ParentCode FROM  f
RETURN
END
GO
/****** Object:  Table [dbo].[Pub_Department]    Script Date: 2023/8/2 22:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pub_Department](
	[DeptCode] [varchar](20) NOT NULL,
	[DeptName] [nvarchar](100) NOT NULL,
	[Remark] [nvarchar](200) NULL,
	[ParentCode] [varchar](20) NULL,
	[DeptLevel] [int] NOT NULL,
	[Lmid] [nvarchar](15) NULL,
	[Lmdt] [datetime] NULL,
	[StopFlag] [bit] NULL,
 CONSTRAINT [PK_Pub_Department] PRIMARY KEY CLUSTERED 
(
	[DeptCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_PubDept_Parent]    Script Date: 2023/8/2 22:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_PubDept_Parent]
AS
SELECT   dbo.Pub_Department.DeptCode, dbo.Pub_Department.DeptName, dbo.Pub_Department.Remark, 
                dbo.Pub_Department.ParentCode, dbo.Pub_Department.DeptLevel, dbo.Pub_Department.Lmid, 
                dbo.Pub_Department.Lmdt, dbo.Pub_Department.StopFlag, Pub_Department_1.DeptName AS ParentName
FROM      dbo.Pub_Department INNER JOIN
                dbo.Pub_Department AS Pub_Department_1 ON dbo.Pub_Department.ParentCode = Pub_Department_1.DeptCode
GO
/****** Object:  Table [dbo].[Pub_Function]    Script Date: 2023/8/2 22:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pub_Function](
	[FunctionCode] [varchar](50) NOT NULL,
	[FunctionChina] [nvarchar](80) NULL,
	[FunctionDescrip] [nvarchar](80) NULL,
	[ParentCode] [varchar](50) NULL,
	[MenuFlag] [bit] NOT NULL,
	[StopFlag] [bit] NULL,
	[URLString] [nvarchar](100) NULL,
	[Lmdt] [datetime] NULL,
	[Lmid] [nvarchar](50) NULL,
	[SortId] [int] NULL,
	[PageTarget] [varchar](50) NULL,
	[MenuIcon] [varchar](30) NULL,
	[RouterPath] [varchar](32) NULL,
	[IsCache] [bit] NULL,
 CONSTRAINT [PK_Pub_Function] PRIMARY KEY CLUSTERED 
(
	[FunctionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_PubFunction_Parent]    Script Date: 2023/8/2 22:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[V_PubFunction_Parent]
AS
SELECT    dbo.Pub_Function.*,
                Pub_Function_1.FunctionChina AS ParentName
FROM      dbo.Pub_Function LEFT OUTER JOIN
                dbo.Pub_Function AS Pub_Function_1 ON dbo.Pub_Function.ParentCode = Pub_Function_1.FunctionCode

GO
/****** Object:  Table [dbo].[Pub_User]    Script Date: 2023/8/2 22:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pub_User](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserCode] [varchar](20) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[RealName] [nvarchar](50) NULL,
	[UserPwd] [varchar](20) NOT NULL,
	[Sex] [bit] NOT NULL,
	[IdentityNo] [varchar](20) NULL,
	[Birthday] [datetime] NULL,
	[DeptCode] [varchar](20) NULL,
	[ManagerFlag] [bit] NOT NULL,
	[Tel] [varchar](25) NULL,
	[EMail] [varchar](50) NULL,
	[QQ] [varchar](20) NULL,
	[Remark] [nvarchar](200) NULL,
	[StopFlag] [bit] NOT NULL,
	[Crid] [nvarchar](15) NULL,
	[Crdt] [datetime] NULL,
	[Lmid] [nvarchar](15) NULL,
	[Lmdt] [datetime] NULL,
	[LoginDate] [datetime] NULL,
	[ProvinceCode] [varchar](15) NULL,
	[CityCode] [varchar](15) NULL,
	[RegionCode] [varchar](15) NULL,
	[UserAddress] [nvarchar](500) NULL,
	[Wxcode] [varchar](50) NULL,
	[HeadUrl] [varchar](100) NULL,
	[UserStatus] [smallint] NULL,
 CONSTRAINT [PK_Pub_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_PubUser_Dept]    Script Date: 2023/8/2 22:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_PubUser_Dept]
AS
SELECT     dbo.Pub_User.*, dbo.Pub_Department.DeptName
FROM         dbo.Pub_Department RIGHT OUTER JOIN
                      dbo.Pub_User ON dbo.Pub_Department.DeptCode = dbo.Pub_User.DeptCode
GO
/****** Object:  Table [dbo].[Pub_Role]    Script Date: 2023/8/2 22:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pub_Role](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RoleCode] [varchar](10) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[Remark] [nvarchar](200) NULL,
	[StopFlag] [bit] NOT NULL,
	[Crid] [nvarchar](15) NULL,
	[Crdt] [datetime] NULL,
	[Lmid] [nvarchar](15) NULL,
	[Lmdt] [datetime] NULL,
 CONSTRAINT [PK_Pub_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pub_RoleFunction]    Script Date: 2023/8/2 22:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pub_RoleFunction](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RoleCode] [varchar](10) NOT NULL,
	[FunctionCode] [varchar](50) NOT NULL,
	[Lmid] [nvarchar](15) NULL,
	[Lmdt] [datetime] NULL,
	[StopFlag] [bit] NULL,
 CONSTRAINT [PK_Pub_RoleFunction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pub_UserFunction]    Script Date: 2023/8/2 22:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pub_UserFunction](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserCode] [varchar](20) NOT NULL,
	[FunctionCode] [varchar](50) NOT NULL,
	[Lmid] [nvarchar](15) NULL,
	[Lmdt] [datetime] NULL,
	[StopFlag] [bit] NULL,
 CONSTRAINT [PK_Pub_UserFunction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pub_UserRole]    Script Date: 2023/8/2 22:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pub_UserRole](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserCode] [varchar](20) NOT NULL,
	[RoleCode] [varchar](10) NOT NULL,
	[Lmid] [nvarchar](15) NULL,
	[Lmdt] [datetime] NULL,
	[StopFlag] [bit] NULL,
 CONSTRAINT [PK_Pub_UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Pub_Department] ([DeptCode], [DeptName], [Remark], [ParentCode], [DeptLevel], [Lmid], [Lmdt], [StopFlag]) VALUES (N'D000001', N'总部', NULL, N'', 0, N'-', CAST(N'2018-05-11T17:35:06.960' AS DateTime), 0)
INSERT [dbo].[Pub_Department] ([DeptCode], [DeptName], [Remark], [ParentCode], [DeptLevel], [Lmid], [Lmdt], [StopFlag]) VALUES (N'D000002', N'广州分公司', N'1111', N'D000001', 0, N'00000002-admin', CAST(N'2023-07-27T22:33:30.477' AS DateTime), 0)
INSERT [dbo].[Pub_Department] ([DeptCode], [DeptName], [Remark], [ParentCode], [DeptLevel], [Lmid], [Lmdt], [StopFlag]) VALUES (N'D000003', N'信息技术部', N'22331', N'D000002', 0, N'00000002-admin', CAST(N'2023-07-29T13:40:15.383' AS DateTime), 0)
GO
INSERT [dbo].[Pub_Function] ([FunctionCode], [FunctionChina], [FunctionDescrip], [ParentCode], [MenuFlag], [StopFlag], [URLString], [Lmdt], [Lmid], [SortId], [PageTarget], [MenuIcon], [RouterPath], [IsCache]) VALUES (N'FC001', N'系统管理', NULL, N'0', 1, 0, NULL, CAST(N'2018-04-04T00:00:00.000' AS DateTime), NULL, 1, N'navTab', N'ele-Setting', N'/baseSet', 0)
INSERT [dbo].[Pub_Function] ([FunctionCode], [FunctionChina], [FunctionDescrip], [ParentCode], [MenuFlag], [StopFlag], [URLString], [Lmdt], [Lmid], [SortId], [PageTarget], [MenuIcon], [RouterPath], [IsCache]) VALUES (N'FC001001', N'用户管理', N'12222', N'FC001', 1, 0, N'admin/user/list', CAST(N'2023-07-30T18:48:44.330' AS DateTime), N'00000002-admin', 1, NULL, N'fa fa-user', N'/baseSet/user', 1)
INSERT [dbo].[Pub_Function] ([FunctionCode], [FunctionChina], [FunctionDescrip], [ParentCode], [MenuFlag], [StopFlag], [URLString], [Lmdt], [Lmid], [SortId], [PageTarget], [MenuIcon], [RouterPath], [IsCache]) VALUES (N'FC001001001', N'查看', NULL, N'FC001001', 0, 0, NULL, CAST(N'2019-10-10T11:04:31.213' AS DateTime), N'00000002-admin', 99, NULL, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Pub_Role] ON 

INSERT [dbo].[Pub_Role] ([Id], [RoleCode], [RoleName], [Remark], [StopFlag], [Crid], [Crdt], [Lmid], [Lmdt]) VALUES (1, N'RC000001', N'超级管理员', N'123', 0, N'00000001', CAST(N'2018-04-04T00:00:00.000' AS DateTime), N'00000002-admin', CAST(N'2023-08-02T22:08:12.193' AS DateTime))
INSERT [dbo].[Pub_Role] ([Id], [RoleCode], [RoleName], [Remark], [StopFlag], [Crid], [Crdt], [Lmid], [Lmdt]) VALUES (2, N'RC000002', N'普通管理员', N'2221', 0, NULL, NULL, N'00000002-admin', CAST(N'2022-04-12T13:17:26.223' AS DateTime))
INSERT [dbo].[Pub_Role] ([Id], [RoleCode], [RoleName], [Remark], [StopFlag], [Crid], [Crdt], [Lmid], [Lmdt]) VALUES (3, N'RC000003', N'客服经理', N'1111221', 0, NULL, NULL, N'00000002-admin', CAST(N'2019-08-14T10:10:38.303' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pub_Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Pub_RoleFunction] ON 

INSERT [dbo].[Pub_RoleFunction] ([Id], [RoleCode], [FunctionCode], [Lmid], [Lmdt], [StopFlag]) VALUES (1, N'111', N'dddd', NULL, NULL, NULL)
INSERT [dbo].[Pub_RoleFunction] ([Id], [RoleCode], [FunctionCode], [Lmid], [Lmdt], [StopFlag]) VALUES (389, N'RC000006', N'FC001', NULL, NULL, NULL)
INSERT [dbo].[Pub_RoleFunction] ([Id], [RoleCode], [FunctionCode], [Lmid], [Lmdt], [StopFlag]) VALUES (390, N'RC000006', N'FC001001', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Pub_RoleFunction] OFF
GO
SET IDENTITY_INSERT [dbo].[Pub_User] ON 

INSERT [dbo].[Pub_User] ([Id], [UserCode], [UserName], [RealName], [UserPwd], [Sex], [IdentityNo], [Birthday], [DeptCode], [ManagerFlag], [Tel], [EMail], [QQ], [Remark], [StopFlag], [Crid], [Crdt], [Lmid], [Lmdt], [LoginDate], [ProvinceCode], [CityCode], [RegionCode], [UserAddress], [Wxcode], [HeadUrl], [UserStatus]) VALUES (1, N'00000001', N'chi', N'迟', N'123123', 0, NULL, NULL, N'D000001', 0, N'15288133116', NULL, NULL, NULL, 0, NULL, NULL, N'00000002-admin', CAST(N'2023-07-29T21:19:00.910' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Pub_User] OFF
GO
SET IDENTITY_INSERT [dbo].[Pub_UserFunction] ON 

INSERT [dbo].[Pub_UserFunction] ([Id], [UserCode], [FunctionCode], [Lmid], [Lmdt], [StopFlag]) VALUES (11, N'00000003', N'FC001', NULL, NULL, NULL)
INSERT [dbo].[Pub_UserFunction] ([Id], [UserCode], [FunctionCode], [Lmid], [Lmdt], [StopFlag]) VALUES (12, N'00000003', N'FC001002', NULL, NULL, NULL)
INSERT [dbo].[Pub_UserFunction] ([Id], [UserCode], [FunctionCode], [Lmid], [Lmdt], [StopFlag]) VALUES (17, N'00000005', N'', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Pub_UserFunction] OFF
GO
SET IDENTITY_INSERT [dbo].[Pub_UserRole] ON 

INSERT [dbo].[Pub_UserRole] ([Id], [UserCode], [RoleCode], [Lmid], [Lmdt], [StopFlag]) VALUES (40, N'00000002', N'RC000001', NULL, NULL, NULL)
INSERT [dbo].[Pub_UserRole] ([Id], [UserCode], [RoleCode], [Lmid], [Lmdt], [StopFlag]) VALUES (42, N'00000004', N'RC000003', NULL, NULL, NULL)
INSERT [dbo].[Pub_UserRole] ([Id], [UserCode], [RoleCode], [Lmid], [Lmdt], [StopFlag]) VALUES (50, N'00000003', N'RC000001', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Pub_UserRole] OFF
GO
ALTER TABLE [dbo].[Pub_Department] ADD  CONSTRAINT [DF_Pub_Department_DeptLevel]  DEFAULT ((1)) FOR [DeptLevel]
GO
ALTER TABLE [dbo].[Pub_Department] ADD  CONSTRAINT [DF_Pub_Department_StopFlag]  DEFAULT ((0)) FOR [StopFlag]
GO
ALTER TABLE [dbo].[Pub_Function] ADD  CONSTRAINT [DF_Pub_Function_MenuFlag]  DEFAULT ((1)) FOR [MenuFlag]
GO
ALTER TABLE [dbo].[Pub_Function] ADD  CONSTRAINT [DF_Pub_Function_StopFlag]  DEFAULT ((0)) FOR [StopFlag]
GO
ALTER TABLE [dbo].[Pub_Function] ADD  CONSTRAINT [DF_Pub_Function_editdate]  DEFAULT (getdate()) FOR [Lmdt]
GO
ALTER TABLE [dbo].[Pub_Function] ADD  CONSTRAINT [DF_Pub_Function_sortidx]  DEFAULT ((0)) FOR [SortId]
GO
ALTER TABLE [dbo].[Pub_Function] ADD  CONSTRAINT [DF_Pub_Function_target]  DEFAULT ('navTab') FOR [PageTarget]
GO
ALTER TABLE [dbo].[Pub_Function] ADD  CONSTRAINT [DF_Pub_Function_IsCache]  DEFAULT ((0)) FOR [IsCache]
GO
ALTER TABLE [dbo].[Pub_Role] ADD  CONSTRAINT [DF_Pub_Role_StopFlag]  DEFAULT ((0)) FOR [StopFlag]
GO
ALTER TABLE [dbo].[Pub_RoleFunction] ADD  CONSTRAINT [DF_Pub_RoleFunction_StopFlag]  DEFAULT ((0)) FOR [StopFlag]
GO
ALTER TABLE [dbo].[Pub_User] ADD  CONSTRAINT [DF_Pub_User_Sex]  DEFAULT ((1)) FOR [Sex]
GO
ALTER TABLE [dbo].[Pub_User] ADD  CONSTRAINT [DF_Pub_User_ManagerFlag]  DEFAULT ((0)) FOR [ManagerFlag]
GO
ALTER TABLE [dbo].[Pub_User] ADD  CONSTRAINT [DF_Pub_User_StopFlag]  DEFAULT ((0)) FOR [StopFlag]
GO
ALTER TABLE [dbo].[Pub_UserFunction] ADD  CONSTRAINT [DF_Pub_UserFunction_StopFlag]  DEFAULT ((0)) FOR [StopFlag]
GO
ALTER TABLE [dbo].[Pub_UserRole] ADD  CONSTRAINT [DF_Pub_UserRole_StopFlag]  DEFAULT ((0)) FOR [StopFlag]
GO
/****** Object:  StoredProcedure [dbo].[P_GetMenu]    Script Date: 2023/8/2 22:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---获取用户菜单
CREATE PROC [dbo].[P_GetMenu]
@userCode VARCHAR(16)
AS
BEGIN
	;WITH f 
	AS (

		SELECT pf.* FROM Pub_Function AS pf
		WHERE pf.StopFlag=0 AND  EXISTS(SELECT prf.Id FROM  Pub_RoleFunction prf WHERE pf.FunctionCode= prf.FunctionCode AND
		 prf.RoleCode IN(SELECT pur.RoleCode FROM Pub_UserRole AS pur WHERE pur.UserCode=@userCode ) )
		UNION 
		SELECT pf.* FROM Pub_Function AS pf
		WHERE pf.StopFlag=0 AND EXISTS(SELECT puf.Id FROM Pub_UserFunction AS puf WHERE pf.FunctionCode=puf.FunctionCode AND puf.UserCode=@userCode)
		UNION ALL
	    SELECT  a.* from Pub_Function as a inner join f as b on b.parentCode=a.FunctionCode
	)
	SELECT DISTINCT  * FROM f WHERE MenuFlag=1
	--SELECT * FROM Pub_Function AS pf WHERE pf.MenuFlag=1 AND pf.StopFlag=0 AND isnull(pf.URLString,'')!=''
END
GO
/****** Object:  StoredProcedure [dbo].[P_GetUserAccess]    Script Date: 2023/8/2 22:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---获取用户菜单
CREATE PROC [dbo].[P_GetUserAccess]
@userCode VARCHAR(16)
AS
BEGIN
	;WITH f 
	AS (

		SELECT pf.* FROM Pub_Function AS pf
		WHERE pf.StopFlag=0 AND  EXISTS(SELECT prf.Id FROM  Pub_RoleFunction prf WHERE pf.FunctionCode= prf.FunctionCode AND
		 prf.RoleCode IN(SELECT pur.RoleCode FROM Pub_UserRole AS pur WHERE pur.UserCode=@userCode ) )
		UNION 
		SELECT pf.* FROM Pub_Function AS pf
		WHERE pf.StopFlag=0 AND EXISTS(SELECT puf.Id FROM Pub_UserFunction AS puf WHERE pf.FunctionCode=puf.FunctionCode AND puf.UserCode=@userCode)
		UNION ALL
	    SELECT  a.* from Pub_Function as a inner join f as b on b.parentCode=a.FunctionCode
	)
	SELECT DISTINCT FunctionCode FROM f WHERE StopFlag=0
END
GO
/****** Object:  StoredProcedure [dbo].[P_GetUserAccessALL]    Script Date: 2023/8/2 22:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---获取用户菜单
CREATE PROC [dbo].[P_GetUserAccessALL]
@userCode VARCHAR(16)
AS
BEGIN
	;WITH f 
	AS (

		SELECT pf.* FROM Pub_Function AS pf
		WHERE pf.StopFlag=0 AND  EXISTS(SELECT prf.Id FROM  Pub_RoleFunction prf WHERE pf.FunctionCode= prf.FunctionCode AND
		 prf.RoleCode IN(SELECT pur.RoleCode FROM Pub_UserRole AS pur WHERE pur.UserCode=@userCode ) )
		UNION 
		SELECT pf.* FROM Pub_Function AS pf
		WHERE pf.StopFlag=0 AND EXISTS(SELECT puf.Id FROM Pub_UserFunction AS puf WHERE pf.FunctionCode=puf.FunctionCode AND puf.UserCode=@userCode)
		UNION ALL
	    SELECT  a.* FROM Pub_Function AS a INNER JOIN f AS b ON b.parentCode=a.FunctionCode
	)
	SELECT DISTINCT * FROM f WHERE StopFlag=0
END

GO
/****** Object:  StoredProcedure [dbo].[p_SearchChildDept]    Script Date: 2023/8/2 22:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_SearchChildDept]
@DeptCodeIn VARCHAR(20)
 AS
BEGIN
	;with f as 
	(
	select * FROM Pub_Department AS pd where DeptCode=@DeptCodeIn
	union all
	select a.* from Pub_Department as a inner join f as b on a.ParentCode=b.DeptCode
	)
	SELECT *,(SELECT TOP 1 DeptName FROM dbo.Pub_Department WHERE DeptCode=f.ParentCode) ParentName FROM  f

END
GO
/****** Object:  StoredProcedure [dbo].[p_SearchChildFunction]    Script Date: 2023/8/2 22:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_SearchChildFunction]
@FunctionCodeIn VARCHAR(20)
 AS
BEGIN
	;with f as 
	(
	select * FROM Pub_Function AS pd where FunctionCode=@FunctionCodeIn
	union all
	select a.* from Pub_Function as a inner join f as b on a.ParentCode=b.FunctionCode
	)
	SELECT *,(SELECT TOP 1 FunctionChina FROM dbo.Pub_Function WHERE FunctionCode=f.ParentCode) ParentName FROM  f

END
GO
/****** Object:  StoredProcedure [dbo].[P_ZGrid_PagingLarge]    Script Date: 2023/8/2 22:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create Procedure [dbo].[P_ZGrid_PagingLarge]
@TableName varchar(50),         --表名 
@Fields varchar(4000) = '*',     --字段名(全部字段为*) 
@OrderField varchar(200),         --排序字段(必须!支持多字段) 
@sqlWhere varchar(8000) = Null,--条件语句(不用加where) 
@pageSize int,                     --每页多少条记录 
@pageIndex int = 1 ,             --指定当前为第几页 
@TotalPage int output ,            --返回总页数 
@Totalrow int output             --返回总行数
As 
begin 
     Declare @sql nvarchar(4000); 
     Declare @totalRecord int;

    --return

     --计算总记录数
         
     if (@SqlWhere='' or @sqlWhere=NULL) 
         set @sql = 'select @totalRecord = count(*) from ' + @TableName 
     else 
         set @sql = 'select @totalRecord = count(*) from ' + @TableName + ' where ' + @sqlWhere 

     EXEC sp_executesql @sql,N'@totalRecord int OUTPUT',@totalRecord OUTPUT--计算总记录数 
     set @Totalrow=@totalRecord        
     
     --计算总页数 
     select @TotalPage=CEILING((@totalRecord+0.0)/@PageSize) 

     if (@SqlWhere='' or @sqlWhere=NULL) 
         set @sql = 'Select * FROM (select ROW_NUMBER() Over(order by ' + @OrderField + ') as rowId,' + @Fields + ' from ' + @TableName 
     else 
         set @sql = 'Select * FROM (select ROW_NUMBER() Over(order by ' + @OrderField + ') as rowId,' + @Fields + ' from ' + @TableName + ' where ' + @SqlWhere     
         
     --处理页数超出范围情况 
     if @PageIndex<=0 
         Set @pageIndex = 1 
     
     if @pageIndex>@TotalPage 
         Set @pageIndex = @TotalPage

     --处理开始点和结束点 
     Declare @StartRecord int 
     Declare @EndRecord int 
     
     set @StartRecord = (@pageIndex-1)*@PageSize + 1 
     set @EndRecord = @StartRecord + @pageSize - 1 

     --继续合成sql语句 
     set @Sql = @Sql + ') as ' + @TableName + ' where rowId between ' + Convert(varchar(50),@StartRecord) + ' and ' + Convert(varchar(50),@EndRecord) 
     
   -- insert into dbo.ASQLprocess (SQLstring)values(@Sql)

     Exec(@Sql) 
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Department', @level2type=N'COLUMN',@level2name=N'DeptCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Department', @level2type=N'COLUMN',@level2name=N'DeptName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Department', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上级部门编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Department', @level2type=N'COLUMN',@level2name=N'ParentCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门级别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Department', @level2type=N'COLUMN',@level2name=N'DeptLevel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后编辑人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Department', @level2type=N'COLUMN',@level2name=N'Lmid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后编辑时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Department', @level2type=N'COLUMN',@level2name=N'Lmdt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'停用状态 默认0 未停用 1 停用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Department', @level2type=N'COLUMN',@level2name=N'StopFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'权限编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Function', @level2type=N'COLUMN',@level2name=N'FunctionCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'中文名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Function', @level2type=N'COLUMN',@level2name=N'FunctionChina'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'说明' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Function', @level2type=N'COLUMN',@level2name=N'FunctionDescrip'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父节点' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Function', @level2type=N'COLUMN',@level2name=N'ParentCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否为菜单 1菜单 0权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Function', @level2type=N'COLUMN',@level2name=N'MenuFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否停用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Function', @level2type=N'COLUMN',@level2name=N'StopFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'组件路径' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Function', @level2type=N'COLUMN',@level2name=N'URLString'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建或修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Function', @level2type=N'COLUMN',@level2name=N'Lmdt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人 名字加工号 张三(000001)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Function', @level2type=N'COLUMN',@level2name=N'Lmid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序字段' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Function', @level2type=N'COLUMN',@level2name=N'SortId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'navTab 嵌套  _blank 新窗口 dialog 弹出窗' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Function', @level2type=N'COLUMN',@level2name=N'PageTarget'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单图标class' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Function', @level2type=N'COLUMN',@level2name=N'MenuIcon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'路由路径' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Function', @level2type=N'COLUMN',@level2name=N'RouterPath'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否组件缓存' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Function', @level2type=N'COLUMN',@level2name=N'IsCache'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Role', @level2type=N'COLUMN',@level2name=N'RoleCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Role', @level2type=N'COLUMN',@level2name=N'RoleName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Role', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'停用状态 默认0  未停用 1 停用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Role', @level2type=N'COLUMN',@level2name=N'StopFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Role', @level2type=N'COLUMN',@level2name=N'Crid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Role', @level2type=N'COLUMN',@level2name=N'Crdt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后更新人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Role', @level2type=N'COLUMN',@level2name=N'Lmid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_Role', @level2type=N'COLUMN',@level2name=N'Lmdt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_RoleFunction', @level2type=N'COLUMN',@level2name=N'RoleCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'权限编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_RoleFunction', @level2type=N'COLUMN',@level2name=N'FunctionCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后编辑人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_RoleFunction', @level2type=N'COLUMN',@level2name=N'Lmid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后编辑时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_RoleFunction', @level2type=N'COLUMN',@level2name=N'Lmdt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'停用状态 默认0 未停用 1 停用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_RoleFunction', @level2type=N'COLUMN',@level2name=N'StopFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'自增主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'UserCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'昵称/用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'UserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'真实姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'RealName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'UserPwd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'性别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'Sex'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'身份证号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'IdentityNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'生日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'Birthday'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'DeptCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否是管理员 默认不是 0  是1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'ManagerFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电话' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'Tel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'邮箱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'EMail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'QQ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'QQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'停用状态 默认0 未停用 1停用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'StopFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'Crid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'Crdt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后更新人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'Lmid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'Lmdt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后登录时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'LoginDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'省份编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'ProvinceCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'城市编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'CityCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'区域编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'RegionCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'UserAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'微信openid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'Wxcode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'头像地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'HeadUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1启用 -1禁用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_User', @level2type=N'COLUMN',@level2name=N'UserStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_UserFunction', @level2type=N'COLUMN',@level2name=N'UserCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'权限编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_UserFunction', @level2type=N'COLUMN',@level2name=N'FunctionCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后编辑人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_UserFunction', @level2type=N'COLUMN',@level2name=N'Lmid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后编辑时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_UserFunction', @level2type=N'COLUMN',@level2name=N'Lmdt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'停用状态 默认0 未停用 1 停用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_UserFunction', @level2type=N'COLUMN',@level2name=N'StopFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'自增主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_UserRole', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_UserRole', @level2type=N'COLUMN',@level2name=N'UserCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_UserRole', @level2type=N'COLUMN',@level2name=N'RoleCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后编辑人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_UserRole', @level2type=N'COLUMN',@level2name=N'Lmid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后编辑时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_UserRole', @level2type=N'COLUMN',@level2name=N'Lmdt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'停用状态 默认0 未停用 1 停用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pub_UserRole', @level2type=N'COLUMN',@level2name=N'StopFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Pub_Department"
            Begin Extent = 
               Top = 33
               Left = 144
               Bottom = 173
               Right = 397
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Pub_Department_1"
            Begin Extent = 
               Top = 97
               Left = 588
               Bottom = 237
               Right = 1071
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_PubDept_Parent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_PubDept_Parent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Pub_Function"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 298
               Right = 219
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "Pub_Function_1"
            Begin Extent = 
               Top = 31
               Left = 584
               Bottom = 276
               Right = 765
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_PubFunction_Parent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_PubFunction_Parent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Pub_Department"
            Begin Extent = 
               Top = 34
               Left = 352
               Bottom = 153
               Right = 498
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Pub_User"
            Begin Extent = 
               Top = 27
               Left = 111
               Bottom = 278
               Right = 266
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_PubUser_Dept'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_PubUser_Dept'
GO
USE [master]
GO
